@model MLandfill.Models.ModelDockets

@{
    ViewBag.Title = "Details2Cols";
}
<style>
     
 .marbot
 {
    margin-bottom: 30px;
}

 body {
  padding-top: 40px;
}

.with-margin {
  margin-bottom: 25px;
}

.spacer5 {
  height: 5px;
}
 

</style>

<h2>Docket Details</h2>
<div class="row">

    <div class="col-sm-12">
        <p>Below are two examples of how to create vertical space between Bootstrap rows</p>
    </div>

</div>

<div class="row">

    <div class="col-sm-4">
        <h3>Default</h3>
    </div>

    <div class="col-sm-4">
        <h3>Bottom margin on content</h3>
    </div>

    <div class="col-sm-4">
        <h3>Spacer div</h3>
    </div>

</div>
<div class="row">

    <div class="col-sm-3">
        <div class="row">
            <div class="col-sm-12">
                <div class="content with-margin">Row 1</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="content">Row 2</div>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="row">
            <div class="col-sm-12">
                <div class="content with-margin">Row 3</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="content">Row 4</div>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="row">
            <div class="col-sm-12">
                <div class="content with-margin">Row 5</div>
            </div>
        </div>
        <div class="spacer5"></div>
        <div class="row">
            <div class="col-sm-12">
                <div class="content">Row 6</div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="row">
            <div class="col-sm-12">
                <div class="content with-margin">Row 7</div>
            </div>
        </div>
        <div class="spacer5"></div>
        <div class="row">
            <div class="col-sm-12">
                <div class="content">Row 8</div>
            </div>
        </div>
    </div>
    </div>
 


   <div class="marbot"><div class="col-md-1"></div></div>

    <div class="inner">
        <div class="row">
            <div class="row row-grid">
                <div class="col-md-1">1</div>
                <div class="col-md-4">1</div>
                <div class="col-md-1">3</div>
                <div class="col-md-4">4</div>
            </div>
        </div>
        <div class="marbot"><div class="col-md-1"></div></div>
        <div class="row">
            <div class="row row-grid">
                <div class="col-md-1">1</div>
                <div class="col-md-4">1</div>
                <div class="col-md-1">3</div>
                <div class="col-md-4">4</div>
            </div>
        </div>
        <div class="marbot"><div class="col-md-1"></div></div>
        <div class="row">
            <div class="row row-grid">
                <div class="col-md-1">1</div>
                <div class="col-md-4">1</div>
                <div class="col-md-1">3</div>
                <div class="col-md-4">4</div>
            </div>
        </div>
        <div class="marbot"><div class="col-md-1"></div></div>
        <div class="row">
            <div class="row row-grid">
                <div class="col-md-1">1</div>
                <div class="col-md-4">1</div>
                <div class="col-md-1">3</div>
                <div class="col-md-4">4</div>
            </div>
        </div>
        <div class="marbot"><div class="col-md-1"></div></div>
        <div class="row">
            <div class="row row-grid">
                <div class="col-md-1">1</div>
                <div class="col-md-4">1</div>
                <div class="col-md-1">3</div>
                <div class="col-md-4">4</div>
            </div>
        </div>
        <div class="marbot"><div class="col-md-1"></div></div>
        <div class="row">
            <div class="row row-grid">
                <div class="col-md-1">1</div>
                <div class="col-md-4">1</div>
                <div class="col-md-1">3</div>
                <div class="col-md-4">4</div>
            </div>
        </div>
        <div class="marbot"><div class="col-md-1"></div></div>
        <div class="row">
            <div class="row row-grid">
                <div class="col-md-1">1</div>
                <div class="col-md-4">1</div>
                <div class="col-md-1">3</div>
                <div class="col-md-4">4</div>
            </div>
        </div>
    </div>

