

<style>
     
div.grid      { width: 900px; }
div.grid div  { float: left; height: 100px; }
div.col100    { width: 100px; }
div.col200    { width: 200px; }
div.col300    { width: 300px; }
div.grey      { background-color: #cccccc; }
div.red       { background-color: #e14e32; }
div.clear     { clear: both; }

</style>

 
   

<div class="grid">
    <div class="col100 red">100 pixels</div>
    <div class="col200 grey">200 pixels</div>
    <div class="col300 red">300 pixels</div>
    <div class="col100 grey">100 pixels</div>
    <div class="col200 red">200 pixels</div>
</div>
<div class="clear">.</div>


 <div class="grid">
    <div class="row">

        <label class="form-control" style="width:150px">First name</label>
    </div>
    <div class="row" style="width:200px; ">
        <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="row">

        <label class="form-control" style="width:50px; border-bottom:hidden; border-top:hidden "></label>
    </div>
     

    <div class="row">
        <label class="form-control" style="width:150px">Last name</label>
    </div>
    <div class="row" style="width:300px">
        <input type="text" class="form-control" placeholder="Last name">
    </div>
      

    <div class="row">

        <label class="form-control" style="width:150px">First name</label>
    </div>
    <div class="row" style="width:200px; ">
        <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="row">

        <label class="form-control" style="width:50px; border-bottom:hidden; border-top:hidden "></label>
    </div>


    <div class="row">
        <label class="form-control" style="width:150px">Last name</label>
    </div>
    <div class="row" style="width:300px">
        <input type="text" class="form-control" placeholder="Last name">
    </div>
    </div>


